body {
    background-color: #E32E2D;
    color: #ffff;
}

/**HEADERS NAVBARS**/

header .headerTop {
    width: 100%;
    text-align: left;
    background-color: #2E2D2C;
    height: 4.68rem;

}

.headerTop img {
    margin-left: 5rem;
    margin-top: 1.3rem;
}
/*
.logo-oculto {
    display: none;
}*/

.bg-indigo {
    background-color: #4C2B7F;
}

.navbar {
    height: 3.50rem;
}

.navbar-nav>li {
    padding-left: 4rem;
    padding-right: 4rem;
    font-weight: 500;
    color: #ffff;
    font-family: 'Montserrat', sans-serif;
    background-color: #4C2B7F;
    /*solucion a responsive transparente*/
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffff;
    
}/*solucion en wordpress a que me agarre el color blanco los links*/

.navbar-expand-lg .navbar-nav .nav-link:hover {
    font-weight: bold;
    text-decoration: underline;
    color: #ffff;
}

/*color dropdown*/

.dropdown-menu {
    background-color: #4C2B7F;
    margin-left: 3rem;
}



/** NOVEDADES **/
.portada-novedades {
    background: url(images/bg_home.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 110vh;
}

.logo-portada {
    width: 100%;
}

.logo-portada img {
    max-width: 100%;
    max-height: 100%;
}


/***************************estilos carousel***************************/


#carouselPrincipal.carousel {
    height:100vh;
    max-height:25rem;
    width: 100%;
    
}

.carousel-inner { padding-bottom:15rem; } /*PRIMORDIAL para que se vea el texto del slide por debajo de la imagen*/

#carouselPrincipal.carousel .carousel-item {
    height:100vh;
    max-height:25rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
   
 
}

#carouselPrincipal.carousel .carousel-item .carousel-caption {
    position: relative;
    left: 0rem;
    text-align: left;
    
    top: 25rem;
}

#carouselPrincipal.carousel .carousel-item .carousel-caption h2 {
    font-weight: 600;
    font-family: 'Encode Sans', sans-serif;
}

#carouselPrincipal.carousel .carousel-item .carousel-caption p {
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.4rem;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
#carouselPrincipal.carousel .carousel-item .carousel-caption a {
    color:#ffffff;
    
    font-family: 'Roboto', sans-serif;
}

.carousel-control-next, .carousel-control-prev {
    top:60px;
}


/********************************************************/

/** VIDEO LINEA 102**/

.imagen-fondo {
    background: url(images/bg_pag2.svg);
    background-size: 100%;
    background-position: top;
   
}

.video-portada {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.recuadro {
    background: #09AEE4;
}

.recuadro h2 {
    font-weight: 700;
    font-family: 'Encode Sans', sans-serif;
}

.recuadro p {
    font-size: 1.3rem;
    line-height: 1.5rem;
    font-family: 'Roboto', sans-serif;
}

/** NOTICIAS **/

.noticias h2 {
    font-weight: 700;
    font-family: 'Encode Sans', sans-serif;
}

.cardcolor {
    background: #C54592;
    border: none;
}

h3 {
    color: white;
    font-size: 1.3rem !important;
    font-family: 'Encode Sans', sans-serif;
}

.no-underline:hover {
    text-decoration: none;
}


/** FOOTER **/

.footer-index {
    background-color: #4C2B7F;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8rem;
}

.contacto {
   list-style-type: none;
   border-left: solid 1px #ffff; 
}

.contacto-icon {
    color: #09AEE4 ;
}

.social {
    list-style-type: none;
    text-decoration: none;
    border-left: solid 1px #ffff;
}

.social span {
    display: block;
}

.social li {
display: inline;
}

.iconitos {
    color:#ffff;
    font-size: 2rem;
   letter-spacing: 0.6rem;
}

.mail-enlace {
    text-decoration: none;
    color: #ffff;
}

.mail-enlace:hover {
    color: #09AEE4 ;
}



/*PAGINA INSTITUCIONAL*/


.fondo-institucionales {
    background: url(images/bg_page.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.texto-institucionales {
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
}

.texto-institucionales h2 {
    font-weight: bolder;
}

.link-turquesa {
    text-decoration: none;
    color:  #09AEE4;
}


/*PAGINA DE CATEGORIA*/

.categoria {
    background-image: url("images/bg_mosaico.svg");
}

.texto-categoria {
    color: #09AEE4 ;
    font-family: 'Encode Sans', sans-serif;
    font-weight: 600;
}

/* PAGINACION */
.paginacion {
    display: block;
    max-width:440px;
    margin:auto;
    clear:both;
    text-align: center
}

.paginacion a {
    display: inline-block;
    background-color: #ffffff;
    color:#09AEE4;
    margin:0.25em;
    padding:4px 8px;
    font-weight:700;
}

/*********************MEDIA QUERIES*****************************/

@media screen and (max-width: 1125px) and (min-width: 992px) {
 .videito {
     height: 379px; /*solo valido para actual recuadro*/
 }
}

/*logo argentina unida*/
@media screen and (max-width: 990px) and (min-width: 768px){
    .arg-unida {
     padding-top: 4rem;
    }
}